<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="44644b76-4ab7-46d7-b339-82abf9c91b90"
            Publisher="CN=猫眼钥匙"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>test_2019_05_21_1607</DisplayName>
    <PublisherDisplayName>猫眼钥匙</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="test_2019_05_21_1607.App">
        <VisualElements
            DisplayName="test_2019_05_21_1607"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="test_2019_05_21_1607"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>